    .header{
        grid-area: header;
        background-color:blueviolet;
        color:#fff;
    }
    .left{
        grid-area: left;
        background-color:darkslategray;
        color: #fff;
    }
    .body{
        grid-area: body;
        background-color:white;
    }
    .right{
        grid-area: right;
        background-color: #fff;
    }
    .footer{
        grid-area: footer;
        background-color: #000;
        color: #fff;
        width: 80%;
        height: 50%;
            margin: 10px;
            padding: 50px; 
        position: relative;
        left: 20%; 
    }
    .grid{
        display: grid;
        grid-template-areas: 'header header header left left body'
                             'right right footer footer footer body';
        background-color:#fff;                   
        gap: 20px;
        margin: 35px;
        padding: 8px;
    }
    .grid>div{
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}
    .button1, .button2{
        margin: 20px;
        bottom: 50px;
        padding: 10px 20px;
        background-color: #ff0000;
        cursor: pointer;
        transition: 0.1s;
        position:absolute;
    }
    .button1:hover, .button2:hover{
        background-color: rgba(0, 234, 255, 0.993);
        color: rgb(0, 0, 0);
    }
    p.hover{
        color: rgb(247, 255, 247);
        font-weight: italic;
    }
    .button1{
        margin-left: 48%;
        margin-top: 100%;
    }
    .button2{
        margin-left: 57%;
        margin-top: 100%;
    }